<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="Buscar Medico"
                        (keyup)="buscar(txtTermino.value)"
                        #txtTermino>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="cargando" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Tabla de medicos</h4>
                        <h6 class="card-subtitle">Medicos registrados en la aplicacion</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary"
                                routerLink="/dashboard/medico/nuevo">
                                <i class="fa fa-puls"> Crear medico</i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody >
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="w100 text-center pointer">
                                    <img class="pointer medico-img" 
                                         [src]="medico.img | imagen:'medicos'" 
                                         [alt]="medico.nombre"
                                         (click)="abrirModal(medico)">
                                </td>
                                <td>{{medico.nombre}}</td>
                                <td class="text-nowrap w100 text-center">
                                    <a [routerLink]="['/dashboard/medico',medico._id]" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarMedico(medico)" class="pointer" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <button class="btn btn-secondary">Siguiente</button>
                &nbsp;
                <button class="btn btn-secondary">Anterior</button> -->
            </div>
        </div>
    </div>
</div>
