
<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" formControlName="nombre" class="form-control" id="exampleInputuname" placeholder="Nombre de usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electronico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" [readOnly]="usuario.google" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <button type="submit" [disabled]="perfilForm.invalid" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                    <button type="submit" class="btn btn-danger waves-effect waves-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>
                <div class="text-center">
                    <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="img-avatar">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                </div>
                <input type="file" 
                        (change)="cambiarImagen($any($event.target).files[0])">
                <br><br>

                <button type="button" (click)="subirImagen()" [disabled]="!imagenSubir" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" routerLink="/dashboard/perfil" class="btn btn-danger waves-effect waves-light">Cancelar</button>
            </div>
        </div>
    </div>

</div>
