/* You can add global styles to this file, and also import other style files */
#themecolors .selector{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

#google-btn{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}
#dw-user-box-text {
    max-width: 170px;
}
 
#dw-user-box-text-email {
    text-overflow: ellipsis;
    overflow: hidden;
}
.w100{
    width: 100px;
}
.avatar{
    border: 1px solid black;
    width: 40px;
    border-radius: 100%;
}
.w140{
    width: 160px;
}