/* You can add global styles to this file, and also import other style files */
#themecolors .selector{
    cursor: pointer;
}

#google-btn{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}
#dw-user-box-text {
    max-width: 170px;
}
 
#dw-user-box-text-email {
    text-overflow: ellipsis;
    overflow: hidden;
}