<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="Buscar Usuario"
                        (keyup)="buscar(txtTermino.value)"
                        #txtTermino>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="cargando" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn slow">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tabla de usuarios</h4>
                <h6 class="card-subtitle">Usuarios de la aplicacion: {{total}} - {{desde}}</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th class="w100">Role</th>
                                <th class="w100">Auth</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" class="text-center">
                                <td>
                                    <img [src]="usuario.imagenUrl" class="avatar" alt="">
                                </td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>
                                    <select class="form-control w140"
                                            [(ngModel)]="usuario.rol">
                                        <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                        <option value="USER_ROLE">USER_ROLE</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="usuario.google === true" class="label label-danger">Google</span>
                                    <span *ngIf="usuario.google === false" class="label label-info">Email</span>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a class="pointer" (click)="eliminarUsuario(usuario)" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button> 
                </div>
            </div>
        </div>
    </div>
</div>